<?xml version="1.0" encoding="UTF-8"?>
<whatsapp-config>
	<botServerUrl>http://localhost:8080/api/msg/gettemplate</botServerUrl>
	<userAgent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246</userAgent>
	<webBrowser>chrome</webBrowser>
<messageToSend>Hey Who are u?</messageToSend>
<searchTerm>morning</searchTerm>
</whatsapp-config>
